* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 2vh 2vw;
    font-size: 1em; /* Taille de base pour le texte */
}

.container {
    max-width: 80vw;
    margin: 0 auto;
    background-color: white;
    padding: 3vh 3vw;
    border-radius: 0.8vw;
    box-shadow: 0 0.2vh 1vw rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}

h1 {
    color: #333;
    margin-bottom: 2vh;
}

h2, h3 {
    margin-bottom: 2vh; /* Espacement vertical basé sur la hauteur de l'écran */
}

p {
    color: #666;
    margin-bottom: 1.5em; /* Espacement relatif à la taille du texte */
    line-height: 1.6;
}

#output {
    padding: 5vh 5vw;
    background-color: #ffe1e1;
    min-height: 10vh;

    display: flex;
    flex-direction: row;
    gap: 10vw;

    overflow: auto; /* Permet de gérer les débordements */
    box-sizing: border-box; /* Assure que padding et bordures sont inclus dans la largeur/hauteur */
}

#output ul {
    margin: 0; /* Supprime les marges par défaut */
    padding-left: 1em; /* Utilise em pour un espacement relatif au texte */
}

.buttons {
    padding: 1em;
    display:flex;
    gap: 1em;
}

.buttons button {
    padding : 0.5em;
    cursor:pointer;
}

#reset-btn {
    background-color: #ffa3a3;
}